<% layout("/layouts/boilerplate") %> 

<div class="row">
    <h1 class="text-center mb-4">Register Account</h1>
    <div class="col-6 offset-3">
        <form action="/register" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="email"  class="form-label">Email</label>
                <input type="email"  class="form-control"  name="email" id="email" required placeholder="Email">
                <div class="valid-feedback">
                    looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid Title
                </div>
            </div>
            <div class="mb-3">
                <label for="username"  class="form-label">Username</label>
                <input type="text"  class="form-control" name="username" id="username" required placeholder="username">
                <div class="valid-feedback">
                    looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid Title
                </div>
            </div>
            <div class="mb-3">
                <label for="password"  class="form-label">Password</label>
                <input type="text"  class="form-control" name="password" id="password" required placeholder="password">
                <div class="valid-feedback">
                    looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid Title
                </div>
            </div>
        <button class="btn btn-success">Register</button>
        </form>
    </div>

</div>
 
